[Unit]
Description=Smack
DefaultDependencies=no
After=smack.mount local-fs.target
Requires=smack.mount
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/smackctl apply
ExecStop=/usr/bin/smackctl clear
RemainAfterExit=yes

[Install]
WantedBy=basic.target
